#root {
  max-width: 1000px;
  margin: auto;
}
nav {
  padding: 20px 0;
<<<<<<< HEAD
}

.active {
  color: red;
}

.btn-white-background {
  background: white;
=======
}

.active {
>>>>>>> Saving
  color: red;
}
